# --- Environment Variables (Sabse Important) ---
.env
server/.env
client/.env

# --- Dependencies ---
node_modules/
client/node_modules/
server/node_modules/

# --- Build Outputs ---
dist/
client/dist/
build/
client/build/

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Local & System Files ---
*.local
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Server Specific ---
server/addedProducts.json
server/sales.json